html, body {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: rgb(124, 43, 43);
    font-size: 4vw;
    margin-left: 20px;
}

h2 {
    font-size: 3vw;
    color: black;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-size: 3.5vw;
}

h5 {
    color: rgb(173, 173, 173);
    margin: 4px 0px 0px 10px;
    font-size: 4vw;
}

h6 {
    color: rgb(196, 195, 195);
    margin: 4px 0px 0px 10px;
    font-size: 3vw;
}
textarea {
    height: 75px;
}

ul {
    padding: 0px;
    margin-left: 20px;
}

li {
    font-size: 3.75vw;
    list-style-type: none;
    padding: 5px 0px 5px 0px;
}
