.grid-container {
    width : 100%;
    max-width : 550px; 
    margin: 0 auto;
}

.row:before, 
.row:after {
    content:"";
    display: table ;
    clear:both;
}

[class*='col-'] {
    float: left;
    min-height: 1vw; 
    width: 50%; 
}

.col-2of2 {
    width:100%;
    max-width: 550vw;
    min-height:1vw;
}

.col-1of2 {
    width:50%;
    min-height:1vw;
}
.float-right {
    float: right;
}

.float-left {
    float: left;
}
.btn {
    background: rgba(141, 31, 31, 0.39);

    -webkit-border-radius: 23;
    -moz-border-radius: 23;
    border-radius: 23px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
  }
      
      .btn:hover {
        background: rgba(150, 31, 31, 0.5);

        text-decoration: none;
      }
}