.grid-container {
    width : 100%;
    max-width : 550px; 
    margin: 0 auto;
}

.row:before, 
.row:after {
    content:"";
    display: table ;
    clear:both;
}

[class*='col-'] {
    float: left;
    min-height: 1vw; 
    width: 50%; 
}

.col-2of2 {
    width:100%;
    max-width: 550vw;
    min-height:1vw;
}

.col-1of2 {
    width:50%;
    min-height:1vw;
}
.float-right {
    float: right;
}

.float-left {
    float: left;
}
.btn {
    background: rgba(141, 31, 31, 0.39);
    margin-left: 50px;
    -webkit-border-radius: 23;
    -moz-border-radius: 23;
    border-radius: 1vw;
    font-family: Arial;
    color: #ffffff;
    font-size: 3vw;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
  }
      
.btn:hover {
        background: rgba(150, 31, 31, 0.5);
        text-decoration: none;
}

.forms {
    display: block;
    width: 70%;
    position: relative;
    margin-left: 34px;
    margin-bottom: 2vw;
}
textarea {
    height: 75px;
}
#form-view {
    background-color:rgba(136, 136, 136, 0.5);
    text-align: center;
    padding-top: 25px; 
}
#create {
    margin: 10px auto;
    display: block;
}
#delete {
    position: absolute;
    bottom: 0px;
    right: 24px;
    margin: 10px auto;
    display: block;
}
#update {
    margin: 10px auto;
    display: block;
}
